{% extends "base.html.twig" %}

{% block body %}
<section id="intro">
      <div class="container">

test affichage d'un livre
          <div class="row">
          <div class="span12">
            <div class="call-action">

              <div class="text">
                <h2>{{unLivre.title}}</h2>
                <p>
                  {{unLivre.summary}}
                </p>
              </div>
            </div>
            <!-- end tagline -->
          </div>
        </div>
      
</section>
{% endblock %}

