{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
    {% if app.user != null %}
        Bonjour {{app.user.firstName}}
    {% endif %}
</div>
{% endblock %}
